# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
*.log

# --- Virtual Environment ---
.venv/
env/
venv/

# --- IDEs / Editores ---
.vscode/
.idea/
*.swp
*.swo

# --- Sistema ---
.DS_Store
Thumbs.db

# --- Arquivos de ambiente ---
.env
